# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map
functions/lib/
functions/node_modules/
functions/*.log

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local